@*@model TaxCalculator.Models.Citizen*@
@model TaxCalculator.ViewModels.CitizenViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Citizen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Citizen.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.LastName)
        </dd>

        <dt>
            Zone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.Zone.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.Wardno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.Wardno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizen.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizen.Municipality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { citizenID = Model.Citizen.CitizenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
