@model TaxCalculator.Models.SearchCitizenViewModel


@{
    ViewBag.Title = "Home Page";
}




<div class="container">
    <div class="page-header">
        <h1>करदाता को सुची</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @*@using (Html.BeginForm("Details", "Home", FormMethod.Get))
        {
            <div class="form-group">
                <label for="CitizenSearchString">नागरिकता नं.</label>*@
            @*<input type="number" class="form-control" id="CitizenSearchString" placeholder="नागरिकता नं. राख्नुहोस्।"/>*@
            @*@Html.TextBoxFor(m => m.citizenID, new { @class = "form-control", placeholder = "नागरिकता नं. राख्नुहोस्।" })*@
            @*</div>
            <input type="submit" class="btn btn-primary" value="खोजी गर्नुहोस्।" />
        }*@

            <br />
            @Html.ActionLink("नयाँ करदाता थप्न्नुहोस् ", "New", "Home", null, new { @class = "btn btn-primary" })
            <br />  
            <br />

            @*@using (Html.BeginForm())
        {
            <p>
                Search Name: @Html.TextBox("Search_Data")
                <input class="btn btn-primary" type="submit" value="खोजी गर्नुहोस्।" />
            </p>

        }*@

            @Html.ActionLink("झलक हेर्नु होस्", "CitizensReportViewer") |

            @Html.ActionLink("Excel मा सम्पेसन गर्नुहोस", "Reports", new { ReportType = "Excel" }) |
            @Html.ActionLink("PDF मा सम्पेसन गर्नुहोस", "Reports", new { ReportType = "PDF" }) |
            @Html.ActionLink("Word मा सम्पेसन गर्नुहोस", "Reports", new { ReportType = "Word" })
            <br />
            <br />
        </section>

        <table id="citizens" class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">नाम</th>
                    <th scope="col">थर</th>
                    <th scope="col">जिल्ला</th>
                    <th scope="col">नागरिकता नं.</th>
                    <th scope="col">ठेगाना</th>
                    <th scope="col">वडा न.</th>
                    <th scope="col">अञ्चल </th>
                    <th scope="col">Municipality</th>
                    <th scope="col">कार्य</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var citizen in Model.Citizens)
                {
                    <tr>
                        <th scope="row">@citizen.CitizenId</th>
                        <td>@citizen.FirstName</td>
                        <td>@citizen.LastName</td>
                        <td>@citizen.District</td>
                        <td>@citizen.CitizenshipNo</td>
                        <td>@citizen.StreetName</td>
                        <td>@citizen.Wardno</td>
                        

                        <td>     @(citizen.Zone == null ? "" : citizen.Zone.Description)      </td>
                        <td>@citizen.Municipality</td>
                        <td>
                            @Html.ActionLink("थप जानकारी", "Details", new { citizenID = citizen.CitizenId }) /
                            @Html.ActionLink("सम्पादन गर्नुहोस्", "Edit", "Home", new { citizenID = citizen.CitizenId }, null)
                            @Html.ActionLink("Calculate Land Tax", "LandTax", "LandTax", new { citizenID = citizen.CitizenId }, null)

                        </td>
                    </tr>

                }

            </tbody>
        </table>


    </div>



</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#citizens").DataTable();




        });



    </script>


}