@model TaxCalculator.Models.Citizen

@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Citizens</h2>

@using (Html.BeginForm("Create", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Zone)
        @Html.TextBoxFor(m => m.Zone, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.District)
        @Html.TextBoxFor(m => m.District, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StreetName)
        @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Wardno)
        @Html.TextBoxFor(m => m.Wardno, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Municipality)
        @Html.TextBoxFor(m => m.Municipality, new { @class = "form-control" })
    </div>
}

