@model TaxCalculator.Models.HouseTaxViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>घर तर्फ</h2>

@using (Html.BeginForm("Create", "HouseTax", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CitizenHouse.Length, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CitizenHouse.Length, new { htmlAttributes = new { @class = "form-control", @readonly = true, id = "house-length" } })
            @Html.ValidationMessageFor(model => model.CitizenHouse.Length, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CitizenHouse.Width, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CitizenHouse.Width, new { htmlAttributes = new { @class = "form-control", @readonly = true, id = "house-width" } })
            @Html.ValidationMessageFor(model => model.CitizenHouse.Width, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.HouseTax.FY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseTax.FY, new { htmlAttributes = new { @class = "form-control", id = "house-FY" } })
            @Html.ValidationMessageFor(model => model.HouseTax.FY, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.CitizenHouse.Area, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CitizenHouse.Area, new { htmlAttributes = new { @class = "form-control", id = "house-area" } })
            @Html.ValidationMessageFor(model => model.CitizenHouse.Area, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HouseTax.CostPerUnitArea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseTax.CostPerUnitArea, new { htmlAttributes = new { @class = "form-control", id = "house-costPerUnitArea" } })
            @Html.ValidationMessageFor(model => model.HouseTax.CostPerUnitArea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CitizenHouse.Floor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CitizenHouse.Floor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CitizenHouse.Floor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HouseTax.TotalCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseTax.TotalCost, new { htmlAttributes = new { @class = "form-control", id = "house-totalCost", @readonly = true } })
            @Html.ValidationMessageFor(model => model.HouseTax.TotalCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HouseTax.DepreciationRate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseTax.DepreciationRate, new { htmlAttributes = new { @class = "form-control", id = "house-depreciationRate" } })
            @Html.ValidationMessageFor(model => model.HouseTax.DepreciationRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HouseTax.DepreciationAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseTax.DepreciationAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true, id = "depreciationamount" } })
            @Html.ValidationMessageFor(model => model.HouseTax.DepreciationAmount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HouseTax.GrossCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HouseTax.GrossCost, new { htmlAttributes = new { @class = "form-control", @readonly = true, id = "house-grossCost" } })
            @Html.ValidationMessageFor(model => model.HouseTax.GrossCost, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.LastHouseTax.DepreciationRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastHouseTax.DepreciationRate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.LastHouseTax.DepreciationRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastHouseTax.GrossCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastHouseTax.GrossCost, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.LastHouseTax.GrossCost, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.HouseTax.GrossCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HouseTax.GrossCost, new { htmlAttributes = new { @class = "form-control", @readonly = true, id = "house-grossCost" } })
                @Html.ValidationMessageFor(model => model.HouseTax.GrossCost, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @Html.HiddenFor(model => model.HouseTax.TotalArea)
    @Html.HiddenFor(model => model.HouseTax.CitizenHouseId)
    @Html.HiddenFor(model => model.CitizenHouse.Id)
   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Next" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#house-length").blur(function () {
                if ($("#house-length").val() !== null && $("#house-width").val() !== null)
                    $("#house-area").val($("#house-length").val() * $("#house-width").val());
            });

            $("#house-width").blur(function () {
                if ($("#house-length").val() !== null && $("#house-width").val() !== null)
                    $("#house-area").val($("#house-length").val() * $("#house-width").val());
            });

            $("#house-costPerUnitArea").blur(function () {
                if ($("#house-area").val() !== null && $("#house-costPerUnitArea").val() !== null)
                    $("#house-totalCost").val($("#house-costPerUnitArea").val() * $("#house-area").val());
            });

            $("#house-depreciationRate").blur(function () {
                if ($("#house-totalCost").val() !== null && $("#house-depreciationRate").val() !== null) {
                    $("#house-grossCost").val($("#house-totalCost").val() - ($("#house-depreciationRate").val() * $("#house-totalCost").val() * 0.01));
                    $("#depreciationamount").val(($("#house-depreciationRate").val() * $("#house-totalCost").val() * 0.01));
                }
            });
        });

    </script>


}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
