@model  TaxCalculator.Models.HouseTaxViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitizenHouse.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitizenHouse.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitizenHouse.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseTax.CostPerUnitArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseTax.DepreciationRate)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.HouseTax.GrossCost)
        </th>
    
        <th>
            कैफियत
        </th>
    </tr>
    @foreach (var tax in Model.HouseTaxHistories)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.CitizenHouse.Length)
            </td>
            <td>
                @Html.DisplayFor(model => model.CitizenHouse.Width)
            </td>
            <td>
                @Html.DisplayFor(model => model.CitizenHouse.Area)
            </td>
            <td>
                @Html.DisplayFor(model => tax.CostPerUnitArea)
            </td>
            <td>
                @Html.DisplayFor(model => tax.DepreciationRate)
            </td>
          
            <td>
                @Html.DisplayFor(model => tax.GrossCost)
            </td>
            
            <td></td>
        </tr>
    }
    </table>
