@model IEnumerable<TaxCalculator.Models.LandValuation>

@{
    ViewBag.Title = "जग्गाको बनावट अनुसारको मुल्यांकन";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<p>
    @Html.ActionLink("नयाँ मुल्यांकन थप्नुहोस", "New", "LandValuation", null, new { @class = "btn btn-primary" })
</p>

<br />
<table class="table" id="landValuations">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerAnna)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerAnna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#landValuations").DataTable();




        });



    </script>


}