@model TaxCalculator.ViewModels.LandTaxViewModel

@{
    /**/

    /**/

    ViewBag.Title = "Land Tax Calculation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>जग्गा तर्फ</h2>

@*@using (Html.BeginForm("Save", "LandTax", new { @enctype = "multipart/form-data" }))*@
@using (Html.BeginForm("Save", "LandTax", FormMethod.Post, new { @enctype = "multipart/form-data" }))

{
    <div class="form-horizontal">
        <hr />
        <div class="container">
            <div class="panel-group">

                @*@Html.ValidationSummary(true, "Please fix the following errors.")*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">सामान्य विवरण</a>
                        </h4>
                    </div>
                    <hr />
                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.CitizenId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.LandTaxHistory.CitizenId, new SelectList(Model.Citizens, "CitizenId", "FirstName"), "Select Citizen", new { @class = "form-control", @Readonly = true })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.CitizenLand.VDC, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CitizenLand.VDC, new { @class = "form-control", id = "land-vdc", @readonly = true })
                            @Html.ValidationMessageFor(m => m.LandTaxHistory.CitizenLand.VDC)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.CitizenLand.WardNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CitizenLand.WardNo, new { @class = "form-control", id = "land-wardno", @readonly = true })
                            @Html.ValidationMessageFor(m => m.LandTaxHistory.CitizenLand.WardNo)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.CitizenLand.SheetNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CitizenLand.SheetNo, new { @class = "form-control", id = "land-sheetno", @readonly = true })
                            @Html.ValidationMessageFor(m => m.LandTaxHistory.CitizenLand.WardNo)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.CitizenLand.KittaNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.CitizenLand.KittaNo, new { @class = "form-control", id = "land-kittano", @readonly = true })
                            @Html.ValidationMessageFor(m => m.LandTaxHistory.CitizenLand.KittaNo)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.FromFiscalYearId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.LandTaxHistory.FromFiscalYearId, new SelectList(Model.FiscalYears, "Id", "FY"), "Select From Fiscal Year", new { @class = "form-control", @Readonly = true })
                        </div>
                    </div>

                    <div class="form-group row">
                        @*@Html.LabelFor(m => m.LandTaxHistory.ToFiscalYearId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label class="control-label col-md-2">आ व सम्म</label>
                        
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.LandTaxHistory.ToFiscalYearId, new SelectList(Model.FiscalYears, "Id", "FY"), "Select From Fiscal Year", new { @class = "form-control", @Readonly = true })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.ValuationArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LandTaxHistory.ValuationArea, new { @class = "form-control", id = "land-area", @readonly = true })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.ActualValuationArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LandTaxHistory.ActualValuationArea, new { @class = "form-control", id = "land-actualarea" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LandTaxHistory.Remarks, new { @class = "form-control", id = "land-remark" })
                        </div>
                    </div>


                    <div class="form-group row">
                        @*@Html.LabelFor(model => model.LandValuations, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <label for="land-category" class = "control-label col-md-2">बाटो को प्रकार</label>
                        
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.LandTaxHistory.LandCategory, new SelectList(Model.LandValuations, "LandType", "Description"), " ", new { @class = "form-control", id = "land-category" })
                            @Html.ValidationMessageFor(model => model.LandTaxHistory.LandCategory, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#LastFYCalculation">गत आ व को विवरण</a>
                        </h4>
                    </div>
                    <div id="LastFYCalculation" class="panel-collapse collapse">
                        <hr />
                        <div class="form-group row">
                            @Html.LabelFor(m => m.LandTaxHistory.LastFYCostPerUnitArea, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.LandTaxHistory.LastFYCostPerUnitArea, new { @class = "form-control", id = "land-LastFYcost" })
                            </div>
                        </div>

                        <div class="form-group row">

                            @Html.LabelFor(m => m.LandTaxHistory.LastFYTotalCost, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.LandTaxHistory.LastFYTotalCost, new { @class = "form-control", id = "land-LastFYtotal", @readonly = true })
                            </div>
                        </div>

                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            चालु आ व को विवरण
                        </h4>
                    </div>
                    <hr />
                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.CostPerUnitArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LandTaxHistory.CostPerUnitArea, new { @class = "form-control", id = "land-cost" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.LandTaxHistory.TotalCost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LandTaxHistory.TotalCost, new { @class = "form-control", id = "land-total", @readonly = true })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.File, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="File" class="glyphicon-file" title="Choose a File"/>

                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.File1, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="File1" class="glyphicon-file" title="Choose a File" />

                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.File2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="File2" class="glyphicon-file" />

                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.File3, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="File3" class="glyphicon-file" />

                        </div>
                    </div>



                </div>
                @Html.HiddenFor(m => m.LandTaxHistory.FromFY)
                @Html.HiddenFor(m => m.LandTaxHistory.ToFY)
                @Html.HiddenFor(m => m.LandTaxHistory.KittaNo)
                @Html.HiddenFor(m => m.LandTaxHistory.HouseTaxHistoryId)
                @Html.HiddenFor(m => m.LandTaxHistory.CitizenLandId)
                @Html.HiddenFor(m => m.LandTaxHistory.Id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary" @((Model.LandTaxHistory.Id > 0) ? "disabled" : "")>Save and Print</button>
                @*<a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                    <span>Done</span>
                </a>*@
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#cost").change(function () {
                console.log($("#cost").val() * $("#area").val());
                console.log($("#cost").val());
                console.log($("#area").val());
                $("#total").val($("#cost").val() * $("#area").val());

            });

            $("#land-category").on("change", function () {
                console.log('change event fired ' + $("#land-category").val());
                var selectedCategory = $("#land-category").val();
                
                $.getJSON('@Url.Action("GetLandValuation","LandTax")', { category: selectedCategory }, function (landValuation) {
                    console.log('ajax call');
                    console.log(landValuation);

                    if (landValuation != null && !jQuery.isEmptyObject(landValuation)) {
                        $("#land-cost").val(landValuation.CostPerAnna * 0.03145025);
                        //Calculate total cost
                        if ($("#land-actualarea").val() !== null && $("#land-cost").val() !== null)
                            $("#land-total").val($("#land-actualarea").val() * $("#land-cost").val());

                    }
                });

            });

            $("#land-cost").blur(function () {
                //Calculate total cost
                if ($("#land-actualarea").val() !== null && $("#land-cost").val() !== null)
                    $("#land-total").val($("#land-actualarea").val() * $("#land-cost").val());
            });

            $("#land-LastFYcost").blur(function () {
                //Calculate total last FY cost
                if ($("#land-actualarea").val() !== null && $("#land-LastFYcost").val() !== null)
                    $("#land-LastFYtotal").val($("#land-actualarea").val() * $("#land-LastFYcost").val());
            });

         

        });
      

    </script>

}
